<nav class="navbar navbar-expand-lg navbar-dark site_navbar bg-dark site-navbar-light" id="site-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">EatWell</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-nav" aria-controls="site-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
  
      <div class="collapse navbar-collapse" id="site-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="#section-home" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#section-about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="#section-offer" class="nav-link">Offer</a></li>
          <li class="nav-item"><a href="#section-menu" class="nav-link">Menu</a></li>
          <li class="nav-item"><a href="#section-gallery" class="nav-link">Gallery</a></li>
          <li class="nav-item"><a href="#section-contact" class="nav-link">Contact</a></li>
          <ng-container *ngIf="emailCurrentUser; else elseTemplate">
            <li class="nav-item"><a href="/" class="nav-link">Profile</a></li>
            <li class="nav-item"><a href="/" (click)="logout()" class="nav-link">Logout</a></li>
          </ng-container>
          <ng-template #elseTemplate>
            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          </ng-template>
          <li class="nav-item flex">
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Catagory
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Breakfast</a>
              <a class="dropdown-item" href="#">Lunch</a>
              <a class="dropdown-itemComponent" href="#">Dinner</a>
            </div>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>