<form [formGroup]="product" (ngSubmit)="upload()">
    <input type="text" placeholder="Title" formControlName="title"><br>
    <input type="number" formControlName="price"><br>
    <textarea placeholder="Description..." cols="30" rows="10" formControlName="description"></textarea><br>
    <input (change)="selectFile($event)" type="file" accept=".png,.jpg"><br>
    <button type="submit">upload</button>
</form>