<footer class="site-footer site-bg-dark site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 site-animate">
            <h2 class="site-heading-2">About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, similique, delectus blanditiis odit expedita amet. Sed labore ipsum vel dolore, quis, culpa et magni autem sequi facere eos tenetur, ex?</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3 site-animate">
            <div class="site-footer-widget mb-4">
              <h2 class="site-heading-2">The Restaurant</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">About Us</a></li>
                <li><a href="#" class="py-2 d-block">Chefs</a></li>
                <li><a href="#" class="py-2 d-block">Events</a></li>
                <li><a href="#" class="py-2 d-block">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 site-animate">
             <div class="site-footer-widget mb-4">
              <h2 class="site-heading-2">Useful links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Foods</a></li>
                <li><a href="#" class="py-2 d-block">Drinks</a></li>
                <li><a href="#" class="py-2 d-block">Breakfast</a></li>
                <li><a href="#" class="py-2 d-block">Brunch</a></li>
                <li><a href="#" class="py-2 d-block">Dinner</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 site-animate">
             <div class="site-footer-widget mb-4">
              <h2 class="site-heading-2">Useful links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Foods</a></li>
                <li><a href="#" class="py-2 d-block">Drinks</a></li>
                <li><a href="#" class="py-2 d-block">Breakfast</a></li>
                <li><a href="#" class="py-2 d-block">Brunch</a></li>
                <li><a href="#" class="py-2 d-block">Dinner</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="row site-animate">
       <div class="col-md-12 text-center">
        <div class="site-footer-widget mb-4">
          <ul class="site-footer-social list-unstyled ">
            <li class="site-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="site-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="site-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>