<section class="site-section bg-light" id="section-offer">
  <div class="container">
    
    <div class="row">
      <div class="col-md-12 text-center mb-5 site-animate">
        <h2 class="display-4">Top Order</h2>
      </div>

      <div class="grid-container">
        <div class="item" *ngFor="let product of topProducts | paginate: { itemsPerPage: 3, currentPage: p1, id: 'first'}">
          <div class="img">
            <img src="{{product.url}}">
          </div>
          <div class="item-content">
            <h5 class="text-primary center">{{product.price}}</h5>
            <h5 class="mt-0 h4 center">{{product.title}}</h5>
            <p class="mb-4 center">{{product.description}}</p>
            <p class="mb-0 center"><button [disabled]="!user" class="btn btn-primary btn-sm">Order Now!</button></p>
          </div>
        </div>
      </div>
      <div class="pagination">
        <pagination-controls (pageChange)="p1 = $event" id="first"></pagination-controls>
      </div>
      
    </div>
  </div>
</section>