.grid-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 100%;
}

.item {
    padding: 0 30px;
    overflow: hidden;
}

.item>.img {
    display: flex;
    justify-content: center;
}

.item img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 30px;
}

.center {
    text-align: center;
}

.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
}