<!-- <section class="site-cover" style="background-image: url(assets/images/bg_3.jpg);" id="section-home">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center site-vh-100">
      <div class="col-md-12">
        <h1 class="site-heading site-animate mb-3">Welcome To EatWell</h1>
        <h2 class="h5 site-subheading mb-5 site-animate">Come and eat well with our delicious &amp; healthy foods.</h2>    
        <p><a href="https://colorlib.com/" target="_blank" class="btn btn-outline-white btn-lg site-animate" data-toggle="modal" data-target="#reservationModal">Reservation</a></p>
      </div>
    </div>
  </div>
</section> -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/slider1.jpg" alt="First slide">
      <div class="overlay"></div>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="site-heading site-animate mb-3 color1">Welcome To EatWell</h1>
        <h2 class="h5 site-subheading mb-5 site-animate color2">Come and eat well with our delicious &amp; healthy foods.</h2>    
        <p><a href="https://colorlib.com/" target="_blank" class="btn btn-outline-white btn-lg site-animate" data-toggle="modal" data-target="#reservationModal">Reservation</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/slider2.jpg" alt="Second slide">
      <div class="overlay"></div>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="site-heading site-animate mb-3 color1">Welcome To EatWell</h1>
        <h2 class="h5 site-subheading mb-5 site-animate color2">Come and eat well with our delicious &amp; healthy foods.</h2>    
        <p><a href="https://colorlib.com/" target="_blank" class="btn btn-outline-white btn-lg site-animate" data-toggle="modal" data-target="#reservationModal">Reservation</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/slider3.jpg" alt="Third slide">
      <div class="overlay"></div>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="site-heading site-animate mb-3 color1">Welcome To EatWell</h1>
        <h2 class="h5 site-subheading mb-5 site-animate color2">Come and eat well with our delicious &amp; healthy foods.</h2>    
        <p><a href="https://colorlib.com/" target="_blank" class="btn btn-outline-white btn-lg site-animate" data-toggle="modal" data-target="#reservationModal">Reservation</a></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>