img {
    height: 100vh;
    width: 100%;
}

.color1 {
    color: #c2b2b2 !important;
}

.color2 {
    color: #9bc991 !important;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #080d15;
    opacity: .5;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}