.item {
    display: grid;
    grid-template-columns: 40% 60%;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 50px;
}

.container {
    width: 100%;
}

.img {
    display: flex;
    justify-content: center;
    align-content: center;
}

.img>img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 50px;
}

.search {
    padding-bottom: 70px;
}