<section class="site-section" id="section-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5 site-animate">
        <h2 class="display-4">Menu</h2>
      </div>

      <div class="container">
        <div class="search">
          <ngx-select-dropdown (change)="changeValue($event)" [config]="config" [options]="options" 
          [multiple]="true" [(ngModel)]="searchs"></ngx-select-dropdown>
        </div>
        <div class="grid-container">
          <div class="item" *ngFor="let product of products | paginate: { itemsPerPage: 6, currentPage: p, id: 'second'}">
            <div class="img">
              <img src="{{product.url}}">
            </div>
            <div>
              <h5 class="mt-0 h4 center">{{product.title}}</h5>
              <p class="mb-4 center">{{product.description}}</p>
              <h5 class="text-primary center">{{product.price}}</h5>
            </div>
          </div>
        </div>
        <div class="pagination">
          <pagination-controls (pageChange)="p = $event" id="second"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>