<section class="site-section bg-light" id="section-news">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center mb-5 site-animate">
        <h2 class="display-4">News</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="media d-block mb-4 text-center site-media site-animate">
          <img src="assets/images/offer_1.jpg" alt="Free Template by colorlib.com" class="img-fluid">
          <div class="media-body p-md-5 p-4">
            <h5 class="mt-0 h4">We Have Dilecious Food</h5>
            <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="media d-block mb-4 text-center site-media site-animate">
          <img src="assets/images/offer_2.jpg" alt="Free Template by colorlib.com" class="img-fluid">
          <div class="media-body p-md-5 p-4">
            <h5 class="mt-0 h4">Chef Special Menu</h5>
            <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="media d-block mb-4 text-center site-media site-animate">
          <img src="assets/images/offer_3.jpg" alt="Free Template by colorlib.com" class="img-fluid">
          <div class="media-body p-md-5 p-4">
            <h5 class="mt-0 h4">Merriage Celebrations</h5>
            <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

            <p class="mb-0"><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>